{% extends 'home_base.html' %}


{% block content %}

<!--Discription -->
<div class="post clearfix">
    <!--Discription -->
    <div class="post_dec float-left">
        <h2 class="font-weight-bold">Why Should One Donate?</h2>
        <p class="text-break">According to the American Red Cross:
          <ul>
            <li>About 36,000 units of blood are needed every day.</li>
            
            <li>The number of blood units donated is about 13.6 million a year.</li>
            
            <li>About 6.8 million volunteers are blood donors each year.</li>
            
            <li>Each unit of blood is broken down into components. These are red blood cells, plasma, cryoprecipitated AHF (cryo), a white blood cell called a granulocyte, and platelets. One unit of whole blood and its parts may be transfused to several people. Each person may have a different need.</li>
            
            <li>More than 21 million blood components are transfused each year.</li>
            </ul>
        </p>
    </div>
    <div class="post_dec float-right">
        <h2 class="font-weight-bold">Who Can Donate?</h2>
        <p class="text-break">Most blood donors are volunteers. But you may also donate blood several weeks before having surgery. This is so that your blood is available in case you need a transfusion. Donating blood for yourself is called an autologous donation.

            Volunteer blood donors must meet certain criteria. These include:
            <ul>
            <li>Must be at least 16 years of age, or the minimum age set by state law</li>
            
            <li>Must be in good health</li>
            
            <li>Must weigh at least 110 pounds</li>
            
            <li>Must pass the physical and health history exam given before donation</li>
            
            <li>Some states let people younger than 16 or 17 years to donate blood, with parental consent.</li>
            </ul>
        </p>
    </div>
</div>

    

{% endblock %}

